.webapp_item:hover{
    background-color: #0052cc2f;
    border-radius: 5px;
    cursor: pointer;
    
}
.webapp_item:active{
    background-color: #0052cc70;
    border-radius: 5px;
    color: #0052cc;

}