.text_color{
 color: red;
}

.selector{
    color: blue;
    cursor: pointer;
    .selectField{
        border: 1px solid #d9d9d9;
        border-radius: 2px;
        &:hover{
            cursor: pointer;
        border: 1px solid blue;
            box-shadow: 0 0 0 2px #1890ff33;
        }
    }
    .options{
        box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d
    }
    & .option_item{
        border: none;
        &:hover{
            background-color: rgba(9,30,66,0.04);
        }
    }

    &.ticket_status_selector{
        .css-1s2u09g-control{
            // background-color: blueviolet;
            background: yellow !important;
        }
    
    }
}

.option_item2{
    list-style-type: none ;
    &:hover{
        cursor: pointer !important;
    }
}